.container{
    width: 80%;
    margin: 0 auto;
}

/* .testBorder {
    border: 2px solid red;
} */

.content h2{
    font-family: var(--font-inter);
    font-weight: 500;
    letter-spacing: 0.79px;
    color: var(--primary);
}

.content h3{
    font-family: var(--font-poppins);
    font-weight: 800;
    font-size: 1rem;
    color: var(--primary);
}

.content p{
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: .5rem;
    justify-content: left;
}